.sidebarHeader {
    display: flex;
    align-items: center;
    background-color: white; /* Background color for the header */
    width: 100%; /* Full width of the container */
    margin-bottom: 5px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    padding-top: 8px;
    margin-left: 20px;
    margin-right: 8px; /* Space between logo and text */
  }
  
  .title {
    font-size: 16px;
    margin: 4px;
    padding-top: 10px;
    font-weight: regular;
    color: #000; /* Text color */
  }
  