.sidebarHeader {
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Padding for spacing */
    background-color: white; /* Background color for the header */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Optional shadow for separation */
    width: 100%; /* Full width of the container */
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Space between logo and text */
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Text color */
  }
  